In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from ip2geotools.databases.noncommercial import DbIpCity as ip2geo

In [3]:
vis_data=pd.read_csv('visitor-interests.csv')
vis_data.head()

,IP,UserAgent,Country,Languages,Interests
0,1.10.195.126,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,TH,english,other
1,1.1.217.211,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,TH,thai,blog/personal homepage
2,1.115.198.107,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,JP,english,shop/online shopping website
3,1.121.152.143,Mozilla/5.0 (Linux; Android 7.0; Nexus 9 Build...,AU,english,company
4,1.123.135.213,Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X)...,AU,english,company

In [4]:
vis_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19926 entries, 0 to 19925
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IP         19926 non-null  object
 1   UserAgent  19926 non-null  object
 2   Country    16721 non-null  object
 3   Languages  19926 non-null  object
 4   Interests  19919 non-null  object
dtypes: object(5)
memory usage: 778.5+ KB

In [5]:
vis_data.dropna(inplace=True)

In [6]:
vis_data.isnull().sum()

IP           0
UserAgent    0
Country      0
Languages    0
Interests    0
dtype: int64

In [7]:
sample=vis_data.sample(50,random_state=0)
sample.head()

,IP,UserAgent,Country,Languages,Interests
8692,92.97.63.135,Mozilla/5.0 (Linux; Android 5.0; SAMSUNG SM-N9...,AE,english,social network/forum
5434,72.83.78.116,Mozilla/5.0 (Windows NT 5.1; rv:47.0) Gecko/20...,US,english,other
6896,82.145.210.242,Opera/9.80 (J2ME/MIDP; Opera Mini/4.5.40312/37...,IS,english,company
940,14.98.137.230,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,IN,english,business directory
2683,45.62.47.54,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,english,social network/forum

In [8]:
def lat_long(x):
    try:
        response = ip2geo.get(str(x) , api_key='free')
        return pd.Series([response.latitude , response.longitude])
    except:
        return pd.Series([np.nan , np.nan])

In [9]:
sample[['Lat','Long']]=sample['IP'].apply(lat_long )

In [10]:
sample.head()

,IP,UserAgent,Country,Languages,Interests,Lat,Long
8692,92.97.63.135,Mozilla/5.0 (Linux; Android 5.0; SAMSUNG SM-N9...,AE,english,social network/forum,25.346150,55.421063
5434,72.83.78.116,Mozilla/5.0 (Windows NT 5.1; rv:47.0) Gecko/20...,US,english,other,38.895037,-77.036543
6896,82.145.210.242,Opera/9.80 (J2ME/MIDP; Opera Mini/4.5.40312/37...,IS,english,company,52.372760,4.893604
940,14.98.137.230,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,IN,english,business directory,19.075990,72.877393
2683,45.62.47.54,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,english,social network/forum,22.318775,114.161839

In [11]:
sample.dropna(inplace=True)

In [12]:
from geopy.distance import great_circle

In [13]:
# eygypt_coordinates=[30.033333,31.233334] 
def dist_from_egypt(df):
    lat_lon=[df['Lat'],df['Long']]
    return great_circle([30.033333,31.233334],lat_lon).kilometers

In [14]:
sample['Dist_From_Egypt (km)']=sample.apply(dist_from_egypt,axis=1)

In [15]:
sample.head()

,IP,UserAgent,Country,Languages,Interests,Lat,Long,Dist_From_Egypt (km)
8692,92.97.63.135,Mozilla/5.0 (Linux; Android 5.0; SAMSUNG SM-N9...,AE,english,social network/forum,25.346150,55.421063,2432.931286
5434,72.83.78.116,Mozilla/5.0 (Windows NT 5.1; rv:47.0) Gecko/20...,US,english,other,38.895037,-77.036543,9349.968292
6896,82.145.210.242,Opera/9.80 (J2ME/MIDP; Opera Mini/4.5.40312/37...,IS,english,company,52.372760,4.893604,3283.900075
940,14.98.137.230,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,IN,english,business directory,19.075990,72.877393,4358.276273
2683,45.62.47.54,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,english,social network/forum,22.318775,114.161839,8141.919088